body {
    font-family: Montserrat;
}
.city-search {
    font-size: 20px;
}
button {
    border: none;
    padding: 4px 10px;
    color: #244248;
    background-color: lightblue;
}
button:hover {
    background-color: #244248;
    color: lightblue;
}
.today {
    border-radius: 5px;
    border: 1px solid lightgray;
    line-height: 3;
}
.weather-data {
    font-weight: bold;
}
.temp,
.humi,
.wind,
.uv {
    font-weight: lighter;
}

.low {
    background-color: green;
    border-radius: 5px;
    padding: 4px 6px;
    color: white;
}
.mod {
    background-color: yellow;
    border-radius: 5px;
    padding: 4px 6px;
}
.high {
    background-color: orange;
    border-radius: 5px;
    padding: 4px 6px;
}
.very-high {
    background-color: red;
    border-radius: 5px;
    padding: 4px 6px;
    color: white;
}

